



.hero-image {
    max-width: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0); /* Color del texto */
}

.overlay {
    position: absolute;
    bottom: 20px; /* Ajusta la posición del texto */
    left: 20px; /* Ajusta la posición del texto */
}


.swiper {
    width: 100%;
    height: auto;
    height: 70vh; /* Ajusta la altura según sea necesario */
    overflow: hidden;
    margin-top: 0; /* Asegúrate de que no haya márgenes en la parte superior */

}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white; /* Color del texto */
    text-align: center;
}

.text-container {
    position: absolute;
    bottom: 20px; /* Ajusta la posición vertical */
    left: 20px; /* Ajusta la posición horizontal */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    padding: 10px 20px;
    border-radius: 5px;
}

.info-container {
    justify-content: space-around;
    
}

.info-box {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 30%; /* Ajusta el ancho según tus necesidades */
    transition: transform 0.2s; /* Animación suave al pasar el mouse */
}

.info-box:hover {
    transform: translateY(-5px); /* Efecto al pasar el mouse */
}


.info-box p {
    line-height: 1.5; /* Espaciado entre líneas */
}
